@page "/"
<h1>Users</h1>

 <table class="table">
   <thead>
      <tr>
        <th>Name</th>
        
      </tr>
   </thead>
   <tbody>
     @foreach (var user in Users)
     {
       <tr>
         <td colspan="2">
           <UserCard User="@user" />
         </td>
       </tr>
     
    
     }
   </tbody>
 </table>

<SurveyPrompt Title="How is Blazor working for you?" />

